@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTeam"
                    />
            <span>
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
    <tr>
        <td>@restaurant.Name</td>
        <td>@restaurant.Location</td>
        <td>@restaurant.Cuisine</td>
        <td>
            <a class="btn btn-default"
               asp-page="./Detail"
               asp-route-restaurantId="@restaurant.Id">
                <i class="fa fa-search-plus"></i>
            </a>

            <a class="btn btn-default"
               asp-page="./Edit"
               asp-route-restaurantId="@restaurant.Id">
                <i class="fa fa-edit"></i>
            </a>

            <a class="btn btn-lg"
               asp-page="./Delete"
               asp-route-restaurantId="@restaurant.Id">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
    }

</table>

<a asp-page="./Edit" class="btn btn-outline-primary">Add New</a>

<div>
    @Model.Message
</div>
